{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}


<h1>{{ 'Редактор профиля' }}</h1>
<em>{{current_user.fullname}}</em>
<br/>
{% if id == current_user.id %}

	<br/>
	<div class="shadow p-3 mb-5 bg-body rounded">
	<form action="/edit/{{ data.specialist.id }}" method="POST">
		{{ form.hidden_tag() }}

		{{ form.city.label(class="form-label") }}

		{{ form.city(class="form-control", value=data.city) }}
		<br/>

		{{ form.education.label(class="form-label") }}

		{{ form.education(class="form-control", value=data.education) }}
		<br/>

		{{ form.mastery.label(class="form-label") }}

		{{ form.mastery(class="form-control", value=data.mastery) }}
		<br/>

		{{ form.skill.label(class="form-label") }}

		{{ form.skill(class="form-control", value=data.skill) }}
        <br/>

		{{ form.birthday.label(class="form-label") }}

		{{ form.birthday(class="form-control", value=data.birthday.date()) }}
        <br/>

		{{ form.contact.label(class="form-label") }}

		{{ form.contact(class="form-control", value=data.contact) }}

		<br/>

		{{ form.submit(class="btn btn-secondary") }}

	</form>
</div>
<br/><br/><br/>

{% else %}
 <div class="alert alert-warning alert-dismissible fade show" role="alert">
	  Sorry! You Can't Edit This User...
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

	<h2>Access Denied!</h2>
	<p>Sorry, you cannot access this user profile...</p>

{% endif %}

{% endblock %}